# NPM Configuration for improved reliability
registry=https://registry.npmjs.org/
timeout=120000
fetch-timeout=120000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=3
optional=true
audit=false
fund=false